@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

:host {
  display: block;
  height: 100%;
}

.day {
  &__container {
    height: 100%;
    width: 100%;

    padding: 6px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.NPS {
  background: $day-green;
}

.DM {
  background: $day-dismissal;
}

.NL {
  background: $day-non-paid;
}

.NPO {
  background: $day-project-over;
}
