<!--<ng-container *ngIf="informationData">-->
<!--  <div class="project-type {{informationData.typeOfProject}}">-->
<!--    <div-->
<!--      [popover]="popoverTmpl"-->
<!--      [delay]="500"-->
<!--      [placement]="'right'"-->
<!--      triggers="mouseenter:mouseleave mouseenter:mousewheel"-->
<!--      container="body"-->
<!--    >-->
<!--      {{informationData.projectName}}-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-container>-->

<!--<ng-template #popoverTmpl>-->
<!--  <div class="legend__container">-->

<!--    <div class="legend__label">-->
<!--      <div class="legend__image">-->
<!--        <chi-profile-image [thumbnailPhoto]="$any(undefined)" [status]="false"></chi-profile-image>-->
<!--      </div>-->

<!--      <div class="legend__project-name">-->
<!--        iOss app-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="border-solid"></div>-->

<!--    <div class="modal__container">-->
<!--      <div class="modal__container-body">-->

<!--        <div class="modal__item-container">-->

<!--          <div class="modal__item">-->
<!--            <label class="modal__item-label">Project dates</label>-->
<!--            <div class="modal__item-content"> 06/09/22 - 30/09/22 </div>-->
<!--          </div>-->

<!--          <div class="modal__item">-->
<!--            <label class="modal__item-label">Staffed for</label>-->
<!--            <div class="modal__item-content"> 12/09/22 - 30/09/22 </div>-->
<!--          </div>-->

<!--          <div class="modal__item">-->
<!--            <label class="modal__item-label">Rate</label>-->
<!--            <div class="modal__item-content"> $14 </div>-->
<!--          </div>-->

<!--          <div class="modal__item">-->
<!--            <label class="modal__item-label">Load type</label>-->
<!--            <div class="modal__item-content"> Full time </div>-->
<!--          </div>-->

<!--          <div class="modal__item">-->
<!--            <label class="modal__item-label">Hours/day</label>-->
<!--            <div class="modal__item-content"> 8 </div>-->
<!--          </div>-->

<!--          <div class="modal__item">-->
<!--            <label class="modal__item-label">Sales</label>-->
<!--            <div class="modal__item-content name"> Vladislav Petrenko-Ivanov Oleksandrovich </div>-->
<!--          </div>-->

<!--          <div class="modal__item">-->
<!--            <label class="modal__item-label">PM</label>-->
<!--            <div class="modal__item-content name"> Vladislav Petrenko </div>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </div>-->

<!--    <div class="legend__footer">-->
<!--      <div class="legend__image">-->
<!--        <chi-profile-image [thumbnailPhoto]="$any(undefined)" [status]="false"></chi-profile-image>-->
<!--      </div>-->
<!--      <div>Modified: 2022-09-22 12:30:59 EST</div>-->
<!--    </div>-->

<!--  </div>-->
<!--</ng-template>-->
